.temperature-label-max {
  color: var(--red-800);
}

.temperature-label-min {
  color: var(--sky-800);
}

@media (prefers-color-scheme: dark) {
  .temperature-label-max {
    color: var(--red-200);
  }

  .temperature-label-min {
    color: var(--sky-200);
  }
}
