.daily-forecast {
  padding: var(--spacing-small);
}

.daily-forecast:first-child,
.daily-forecast:nth-child(3),
.daily-forecast:nth-child(5),
.daily-forecast:last-child {
  background-color: var(--card-body-color);
}

.daily-forecast-header {
  align-items: center;
  flex-direction: column;
  row-gap: var(--spacing-base);
}

.daily-forecast-footer {
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-small);
  justify-content: center;
}

.daily-forecast-footer,
.daily-forecast-header {
  display: flex;
}

.daily-forecast-icon {
  margin-bottom: var(--spacing-base);
}

.daily-forecast-text-highlight {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

@container (min-width: 544px) {
  .daily-forecast-footer {
    flex-direction: unset;
  }
}
